.transfer_info {
  background-color: #dc2626;
  border-radius: 0.375rem;
  padding: 1rem;
}

.input_info {
  background-color: #0ea5e9;
  border-radius: 0.375rem;
  padding: 1rem;
}

.info-text {
  color: #fdf2f8;
  font-weight:500;
}


.colored-text-method {
    color: #dc2626;
  }
  