.login__modal {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__modal-inner {
    width: 400px;
    padding: 24px 30px;
    background-color: #fff;
}
