.forgotPassword__modal__1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotPassword__modal__1-inner {
    width: 400px;
    padding: 24px 30px;
    background-color: #fff;
}

.forgotPassword__modal__2{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotPassword__modal__2-inner {
    width: 400px;
    padding: 24px 30px;
    background-color: #fff;
}

.forgotPassword__modal__3 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotPassword__modal__3-inner {
    width: 400px;
    padding: 24px 30px;
    background-color: #fff;
}