// Menu wrapper
.menu-list {
    width: 200px;
    // min-width: 224px;

    .menu-item {
        margin-left: 0;
        // box-sizing: border-box;
    }
}

.menu-popper {
    padding-bottom: 8px;
}

// Menu items
.menu-item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-radius: 0;
    padding: 11px 16px;
    line-height: 1.8rem;

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

// Header
.header {
    height: 50px;
    margin-top: -8px;
    display: flex;
    align-items: center;
}

.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}
