.header {
    width: 100%;
    height: var(--default-header-height, 60px);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: var(--default-header-height);
}

.content {
    flex: 1;
    overflow: hidden;
    background-color: antiquewhite;
}

// Navbar mobile
.nav__overlay {
    position: fixed;
    top: var(--default-header-height, 60px);
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.nav__mobile {
    position: fixed;
    top: var(--default-header-height, 60px);
    left: 0;
    bottom: 0;
    width: 280px;
    max-width: 100%;
    background-color: #fff;
    transition-duration: 700ms;
    transform: translateX(-100%);
    opacity: 0;
}

.nav__input {
    display: none;
}

.nav__input:checked ~ .nav__overlay {
    transition-duration: 500ms;
    display: block;
}

.nav__input:checked ~ .nav__mobile {
    transition-duration: 500ms;
    transform: translateX(0%);
    opacity: 1;
}
