.register__modal {
    margin-top: 1vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register__modal-inner {
    width: 400px;
    padding: 24px 30px;
    background-color: #fff;
}
